
    #table-wrapper-box{
        width: 100%;
        height: 100%;
    }
	#table-wrapper-box .table {margin-bottom: 0;}

	td,th {
        border-right: 1px solid #ccc;
        white-space: nowrap;
    }

    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        border-top: 1px solid #ddd;
        border-collapse: collapse;
    }

	.dataTables_scrollBody table {
        border-bottom: 1px solid #ddd;
    }

    #table-wrapper-box table tr {
        background-color: #fff;
    }

   .dataTables_scrollBody table {
        border-bottom: 1px solid #ddd;
    }
	.dataTables_info {display: none;}

    .DTFC_LeftBodyLiner td {
        background-color: rgb(52, 90, 167) !important;
        color: #fff;
    }

    #table-wrapper-box .table tr.gradeX th {
        background-color: rgb(52, 90, 167) !important;
        color: #fff;
        border: none;
        border-right: 1px solid #ccc;
    }

    .padding-th {
        padding: 0 20px;
        text-align: center;
    }

    #table-wrapper-box tr td[rowspan] {
        vertical-align: middle !important;
    }

    #table-wrapper-box .myTable_wrapper {
        height: 100%;
    }

    #table-wrapper-box .table {
        text-align: right;
    }
    #table-wrapper-box th {white-space: nowrap;}

     #table-wrapper-box tbody tr td {
        padding: 5px;
     }

    #table-wrapper-box .DTFC_LeftBodyLiner tbody tr td {
        text-align: center;
    }

    /*#table-wrapper-box tr td:nth-child(2) {text-align: center;}*/
    #table-wrapper-box tr td:nth-child(1) {background-color: rgb(52, 90, 167) !important;}
.flex-container * {
    box-sizing: border-box;
}
.flex-container {
    margin: 0;
    overflow-x: hidden;
}
.qvplaceholder, .qvobject {
    margin: 0;
    width: 100%;
    min-width: initial;
}
